* {
    padding: 0%;
    margin: 0%;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/** Header Style::Başlangıç **/
.header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
}
/** Mobile Görünüm Style::Başlangıç **/
.header .mobile__menu__wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 80px;
    background-color: black;
    overflow: hidden;
    box-sizing: border-box;
    color: whitesmoke;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-50px);
    transition: opacity 0.5s ease, transform 0.5s ease, visibility 0.5s;
}
.header .mobile__menu__wrapper.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.header
    .mobile__menu__wrapper
    .mobile__menu__main__list
    .mobile__menu__main__list__wrapper {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 15px;
    margin-top: 15px;
}
.header .mobile__menu__wrapper .mobile__menu__logo span {
    font-size: 24px;
}
.header
    .mobile__menu__wrapper
    .mobile__menu__main__list
    .mobile__menu__main__list__wrapper
    .mobile__menu__main__link {
    color: whitesmoke;
    text-decoration: none;
}
.header
    .mobile__menu__wrapper
    .mobile__menu__main__list
    .mobile__menu__main__list__wrapper
    .mobile__menu__main__link:hover {
    font-weight: bolder;
    color: red;
}
.header .mobile__menu__wrapper .mobile__menu__search {
    width: 100%;
    margin-top: 10px;
}

.header
    .mobile__menu__wrapper
    .mobile__menu__search
    .mobile__menu__search__item {
    width: 100%;
    border: 1px solid gray;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 5px;
}
#mobile__menu__search__icon {
    color: whitesmoke;
    padding-right: 10px;
}
#mobile__menu__search__input {
    background-color: transparent;
    border: none;
    width: 100%;
    border-radius: 20px;
    padding-left: 5px;
    color: whitesmoke;
}
.header .mobile__menu__wrapper .mobile__menu__logo {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.mobile__menu__close__button {
    color: whitesmoke;
    font-size: 24px;
}
#mobile__menu__search__input:focus {
    outline: none;
    box-shadow: none;
}
.header .mobile__menu__wrapper .mobile__menu__social__media ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    font-size: 15px;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.header
    .mobile__menu__wrapper
    .mobile__menu__social__media
    ul
    li
    .mobile__menu__social__media__item {
    color: whitesmoke;
}
/** Mobile Görünüm Style::Son **/

/** Header Top Style::Başlangıç **/
.header .header__top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden !important;
    padding: 20px;
}
.header .header__top .header__top__social__media__list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.header
    .header__top
    .header__top__social__media__list
    .header__top__social__media__area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}
.header
    .header__top
    .header__top__social__media__list
    .header__top__social__media__area
    i {
    font-size: 13px;
}
.header .header__top .header__top__icon__area {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.header .header__top__icon__area .header__top__icon {
    color: #333;
    font-size: 18px;
}
.header .header__top__icon__area .header__top__mobile__menu {
    display: none;
}
/** Header Top Style::Son **/
/** Header Bottom Style::Başlangıç **/
.header .header__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.header .header__bottom .header__bottom__menu__list {
    display: flex;
    flex-direction: row;
    gap: 18px;
    list-style: none;
}
.header
    .header__bottom
    .header__bottom__menu__list
    .header__bottom__menu__link {
    color: #333;
    text-decoration: none;
}

.header .header__bottom .header__bottom__menu__list .header__bottom__menu {
    display: flex;
    flex-direction: column;
    position: relative;
}
.header__bottom
    .header__bottom__menu__list
    .header__bottom__menu
    .header__bottom__menu__bottom {
    width: 0%;
    position: absolute;
    height: 2px;
    top: 24px;
    left: 0;
    background-color: rgb(193, 2, 2);
    transition: width 1s ease;
}
.header__bottom__menu:hover .header__bottom__menu__bottom {
    width: 100% !important;
}
/** Header Bottom Style::Son **/
/** Header Style::Son **/

/** Footer Sytle::Başlangıç **/

.footer {
    width: 100%;
    height: auto;
    background-color: black;
    color: whitesmoke;
    display: grid;
    grid-template-rows: repeat(2, 0fr);
    padding: 50px;
}

.footer .footer__top {
    width: 100%;
    height: auto;
    background-color: black;
    color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
}

.footer .footer__top .footer__top__about .footer__top__about__address {
    margin-top: 15px;
}

.footer .footer__top .footer__top__categories ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 5px;
    margin-top: 10px;
}
.footer .footer__top .footer__top__categories ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-size: 14px;
}
.footer .footer__top .footer__top__social ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
    align-items: center;
    margin-top: 15px;
}
.footer .footer__top .footer__top__social ul li a {
    color: whitesmoke;
    font-size: 18px;
}
.footer .footer__top .footer__top__latest__blogs {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer .footer__top .footer__top__latest__blogs .footer__top__latest_blog {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 5px;
}
.footer__top__categories__menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.footer__top__latest__blogs .footer__top__latest_blog img {
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer .copyright_area a {
    color: whitesmoke;
}
/** Footer Sytle::Son **/

/** Responsive Style Düzenleme Alanı::Başlangıç **/
@media (max-width: 480px) {
    /** Header Mobile::Başlangıç **/
    .header .header__top .header__top__social__media__list {
        display: none !important;
    }
    .header .header__top__icon__area .header__top__icon {
        display: none;
    }
    .header .header__top__icon__area .header__top__mobile__menu {
        display: block !important;
        color: #333;
        font-size: 24px;
    }
    .header .header__bottom {
        display: none;
    }
    /** Header Mobile::Son **/
    /** Footer::Başlangıç **/
    .footer {
        padding: 0%;
    }
    .footer .footer__top {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(1, 0fr);
    }
    .footer .copyright_area {
        text-align: center;
    }
    /** Footer::Son **/
}
@media (min-width: 481px) and (max-width: 768px) {
    /** Header Mobile::Başlangıç **/
    .header .header__top .header__top__social__media__list {
        display: none !important;
    }
    .header .header__top__icon__area .header__top__mobile__menu {
        display: none !important;
        color: #333;
    }
    /** Footer::Başlangıç **/
    .footer {
        padding: 50px;
    }
    .footer .footer__top {
        width: 100%;
        box-sizing: border-box;
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(1, 2fr);
    }
    .footer .copyright_area {
        text-align: start;
    }
    /** Footer::Son **/
    /** Header Mobile::Son **/
}
@media (min-width: 769px) and (max-width: 1024px) {
}
@media (min-width: 1025px) and (max-width: 1200px) {
}
@media (min-width: 1201px) {
}
/** Responsive Style Düzenleme Alanı::Son **/
